

body {
    font-family: Verdana, sans-serif;
    background-color: #0c152b;
    color: white;
    margin: 0;
}

header {
    
}

#head-bg {
    padding: 3rem 5rem 3rem 5rem;
    color: white;
    border-bottom: 3px solid #304880;
}

#rocket {
    position: absolute;
    top: 5px;
    right: 0;
    height: 100px;
    width: 100px;
}

article {
    padding: 5rem;
}

.row {
    position: relative;
    padding-block: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: '';
    background-image: 
    linear-gradient(
        45deg,
        blue,
        indigo,
        purple,
        red
    );
    position: absolute;
    z-index: -1;
    inset: 0;
    -ms-transform: scaleY(-2deg);
    -webkit-transform: scaleY(-2deg);
    transform: skewY(-2deg);
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: content;
}

.icons a {
    text-decoration: none;
}

.icon-text {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.icon-text i {
    margin-right: 10px;
    margin-left: 10px;
}