body {
    font-family: Verdana, sans-serif;
    background-color: #0c152b;
    color: white;
    margin: 0;
}

#head-bg {
    padding: 3rem 5rem 3rem 5rem;
    color: white;
    border-bottom: 3px solid #304880;
    background-size: cover;
    background-image: url("../images/Head-bg.png");
    overflow: hidden;
}

#rocket {
    position: absolute;
    top: 20px;
    right: 0;
    height: 100px;
    width: 100px;
}

#rocket-img {
    height: 100px;
    width: 100px;
}

.underline {    
    border-bottom: 3px solid #304880;
    width: max-content;
}

.underline-all {
    border-bottom: 3px solid #304880;    
}

.title {
    margin-left: 5rem;    
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem;
}

.project-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 5rem;
}

.resize {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #304880;
}

.row {
    position: relative;
    padding-block: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: '';
    background-image: 
    linear-gradient(
        45deg,
        blue,
        indigo,
        purple,
        red
    );
    position: absolute;
    z-index: -1;
    inset: 0;
    -ms-transform: scaleY(-2deg);
    -webkit-transform: scaleY(-2deg);
    transform: skewY(-2deg);
    border-top: 3px solid #304880;
    border-bottom: 3px solid #304880;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: content;
}

.icons a {
    text-decoration: none;
}

.icon-text {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.icon-text i {
    margin-right: 10px;
    margin-left: 10px;
}

.enlarge:hover {
    transform: scale(110%);
}

.conceal {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100px);
    transition: all 1s;
}

.reveal {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes blastoffAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-150px);
      opacity: 0;
    }
  }
  
  .blastoff {
    animation: blastoffAnimation 2s forwards;
    transition: all 5s;
  }

#contact-info {
    background-image: 
    linear-gradient(
        45deg,
        blue,
        indigo,
        purple,
        red
    );
    border-top: 3px solid #304880 ;
}

.overflow {
    overflow: hidden;
}